##### ‚ùáÔ∏è OneHotEncoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame({'Species': ['Adelie', 'Chinstrap', 'Gentoo'], 
                   'Sex': ['Male', 'Female', 'Male']},
                 index=['Penguin1', 'Penguin2', 'Penguin3'])
df

            Species     Sex
Penguin1     Adelie    Male
Penguin2  Chinstrap  Female
Penguin3     Gentoo    Male

In [3]:
# Define OneHotEncoder & apply transformation over df
encoder = OneHotEncoder(sparse=False)
encoded = encoder.fit_transform(df)
encoded

array([[1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0.],
       [0., 0., 1., 0., 1.]])

In [4]:
# input columns to encoder
encoder.feature_names_in_

array(['Species', 'Sex'], dtype=object)

In [5]:
# Output columns generated after OneHotEncoding
encoder.get_feature_names_out()

array(['Species_Adelie', 'Species_Chinstrap', 'Species_Gentoo',
       'Sex_Female', 'Sex_Male'], dtype=object)

In [6]:
# Create a new DataFrame with categorical features OnHotEncoded
df_encoded = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(), index=df.index)
df_encoded

,Species_Adelie,Species_Chinstrap,Species_Gentoo,Sex_Female,Sex_Male
Penguin1,1.0,0.0,0.0,0.0,1.0
Penguin2,0.0,1.0,0.0,1.0,0.0
Penguin3,0.0,0.0,1.0,0.0,1.0

##### ‚ùáÔ∏è Hope you enjoyed reading!! üìñ 
##### ‚ùáÔ∏è follow ‚Üí @akshay_pachaar