### ‚öôÔ∏è SQL Queries using `Python` üêç 
#### Loading the results in a Pandas `DataFrame` üêº

In [1]:
# !pip install psycopg2

In [2]:
import psycopg2
import pandas as pd

In [3]:
# Setting up connection; database is publicly available
conn = psycopg2.connect(host='hh-pgsql-public.ebi.ac.uk', 
                        dbname='pfmegrnargs',
                        user='reader', 
                        password='NWDMCE5xdipIjRrp')

In [4]:
# SQL Query
query = "SELECT * FROM rnc_database"

In [5]:
# Executing the query
cursor = conn.cursor()
cursor.execute(query)

In [6]:
# Loading the results in a pandas DataFrame
df = pd.DataFrame(cursor.fetchall(), 
                  columns=[desc[0] for desc in cursor.description])

In [7]:
df.head(4)

,id,timestamp,userstamp,descr,current_release,full_descr,alive,for_release,display_name,project_id,avg_length,min_length,max_length,num_sequences,num_organisms
0,51,2022-09-22 15:14:59.500143,RNACEN,EXPRESSIONATLAS,636,Expression Atlas,Y,None,Expression Atlas,None,953.0,72.0,32709.0,11030,3
1,5,2017-05-17 00:00:00.000000,RNACEN,VEGA,98,VEGA,N,None,VEGA,PRJEB4568,NaN,NaN,NaN,0,0
2,24,2017-05-02 00:00:00.000000,RNACEN,FLYBASE,614,FlyBase,Y,None,FlyBase,PRJ_FLY,765.0,18.0,21216.0,4210,1
3,50,2022-08-16 15:52:33.990145,RNACEN,PLNCDB,606,PLncDB,Y,None,PLncDB,None,6659.0,199.0,985945.0,936926,80

In [8]:
# Close connection
conn.close()