##### ‚ùáÔ∏è Adding new columns: üêº df.assign(**kwargs)

Returns a new dataframe with all original columns in addition to new ones. <br>
kwargs: <br>
- The column names are keywords. If the values are callable, they are computed on the DataFrame <br>
and assigned to the new columns. <br>
- If the values are not callable, (e.g. a Series, scalar, or array), <br>
they are simply assigned.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'temp_celcius': [35.0, 25.0]}, index=['Delhi', 'Mumbai'])
df

        temp_celcius
Delhi           35.0
Mumbai          25.0

In [3]:
# Let's add a new column wind_speed_kmph; where we take values from a list
speed_values = [26.0, 31.0]
df = df.assign(wind_speed_kmph=speed_values) # kmph: kilometers per hour
df

        temp_celcius  wind_speed_kmph
Delhi           35.0             26.0
Mumbai          25.0             31.0

In [4]:
# Using a callable to calculate values of new column based on existing column values
df = df.assign(wind_speed_mph = lambda x: x['wind_speed_kmph']*0.621) # mph: miles per hour
df

        temp_celcius  wind_speed_kmph  wind_speed_mph
Delhi           35.0             26.0          16.146
Mumbai          25.0             31.0          19.251

In [5]:
# You can create multiple columns within the same assign 
# where one of the columns depends on another one defined within the same assign üí• 
df = df.assign(temp_fahrenheit=lambda x: x['temp_celcius'] * 9 / 5 + 32, temp_kelvin=lambda x: (x['temp_fahrenheit'] +  459.67) * 5 / 9)
df

,temp_celcius,wind_speed_kmph,wind_speed_mph,temp_fahrenheit,temp_kelvin
Delhi,35.0,26.0,16.146,95.0,308.15
Mumbai,25.0,31.0,19.251,77.0,298.15

##### ‚ùáÔ∏è Hope you enjoyed reading!! üìñ 
##### ‚ùáÔ∏è follow ‚Üí @akshay_pachaar