##### ‚ùáÔ∏è df.loc : Access a group of rows and columns by label(s) or a boolean array.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('penguins.csv')
df.head(4)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN

In [3]:
# üî¥ using and index
df.loc[2]

species                 Adelie
island               Torgersen
bill_length_mm            40.3
bill_depth_mm             18.0
flipper_length_mm        195.0
body_mass_g             3250.0
sex                     Female
Name: 2, dtype: object

In [4]:
# üü° Slicing along indices with step size
# ‚≠ïÔ∏è df.loc[start:stop:step]
df.loc[0:3:2]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female

In [5]:
# üü¢ Using a slice object along indices and list of column labels
df.loc[1:2, ['species', 'sex']] # ‚¨ÖÔ∏è Notice slicing is inclusive of start and stop indices.

  species     sex
1  Adelie  Female
2  Adelie  Female

In [6]:
# üü£ using a boolean üëá array; 
df.loc[(df['bill_length_mm'] > 50.5) & (df['sex'] == 'Female')]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
196,Chinstrap,Dream,50.9,17.9,196.0,3675.0,Female

##### ‚ùáÔ∏è Hope you enjoyed reading!! üìñ 
##### ‚ùáÔ∏è follow ‚Üí @akshay_pachaar