##### ‚ùáÔ∏è Pandas üêº: df.apply(func, axis)
Objects passed to the function are Series objects whose index is either <br> the DataFrame‚Äôs index (axis=0) or the DataFrame‚Äôs columns (axis=1).

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': [1, 2], 'B': [4, 5]})
df

   A  B
0  1  4
1  2  5

In [3]:
# When axis = 0, every dataframe column is passed as a series to func
df.apply(func = np.sum, axis=0)

A    3
B    9
dtype: int64

In [4]:
# When axis = 1, every dataframe row is passed as a series to func
df.apply(func = np.sum, axis=1)

0    5
1    7
dtype: int64

In [5]:
# using a custom lambda function; axis = 1
# Notice axis = 1, which means each row is passed as a series whose index 
# is data frame's column, that's why we are able to access values row['A'], row['B'] etc.
A_plus_B = df.apply(func = lambda row: row['A'] + row['B'], axis=1)
df['A_plus_B'] = A_plus_B
df

   A  B  A_plus_B
0  1  4         5
1  2  5         7

In [6]:
# calculating average of each column
# Notice axis = 0, which means each column is passed as a series whose index 
# is data frame's index, that's why we are able to access values col[0], col[1] etc.
df.apply(func = lambda col: (col[0] + col[1])/2, axis=0)

A           1.5
B           4.5
A_plus_B    6.0
dtype: float64

##### ‚ùáÔ∏è Hope you enjoyed reading!! üìñ 
##### ‚ùáÔ∏è follow ‚Üí @akshay_pachaar